html, body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #444444;
}

h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color:#FFF;;
}
h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #333333;    
}

p, ol, ul{
    margin-top: 0;
}

ol, ul{
    padding: 0;
    list-style: none;
}

p{
    line-height: 150%;
}

a:hover{
    background: #EBEBEB;
    color: #202020;
}

.contenedor{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

.image-full{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

header{
    position: relative;
    float: left;
    width: 300px;
    padding: 3em 0em;
}

#logo{
    text-align: center;
    margin-bottom: 4em;
}

#logo h1
{
    display: block;
}

#logo img
{
    display: inline-block;
    margin-bottom: 1em;
}

nav li{
    border-top: 1px solid rgba(255,255,255,0.08);
}

nav li a{
    display: block;
    padding: 2em 1.5em;
    text-align: center;
    text-decoration:  none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
}
#page{
    background:#EC4F2C;
}

main{
    overflow: hidden;
    float: right;
    width: 800px;
    padding: 3em 50px 5em 50px;
    background: #FFF;
    text-align: justify;
}


p.p-centro{
    text-align: center;
}

p.p-izquierda{
    text-align: left;
}
p.p-derecha{
    text-align: right;
}
p.subencabezado{
    text-align:right;
}

article table {
    width: 20%;
    margin: auto auto;
    display: block;
    text-align: center;
}

article table tbody tr th{
    padding: 10px;
    margin: 5px;
} 
.glosario-colum-izq{
    float: left;
    width: 50%;
    margin-top: 5%
}

.glosario-colum-der{
    float: right;
    width: 50%;
    margin-top: 5%
}

.glosario ul{
    list-style-type: none
}
.glosario ul h4, .glosario ul p  {
    margin: 0;
}

h2{
    background: #EBEBEB;
    margin-top: 50px;
    background: #EC4F2C;
    color: #FFF;
    text-align: center;
    border-radius: 23px;
}


.footer-copy-redes{
    width: 100%;
    margin:  0 auto;
    background: #202020; 
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}
.main-copy-redes .footer-autor{
    width: 70%;
    color: #FFF;
    text-align: center;  
}

.main-copy-redes .footer-redes{
    width: 30%;
    flex-wrap: wrap;
}

.biblio-citas li {
    padding: 0.5% 15px;;
}

#obra-legado ul li {
    margin: 0;
    margin-left: 2.5%;
    
}

#obra-legado p , #obra-legado h4{
    margin: 0;
}

.tit-h3{
    margin-top: 50px;
    background: #EC4F2C;
    color: #FFF;
    text-align: center;
    border-radius: 23px;
}

.glosario{
    border-block-end-style: solid;
    border-block-end-color: #EC4F2C;
    border-block-end-width: 5px;
    overflow: hidden;
  
}
.glosario li {
    margin: 0;
    
    margin-left: 20px;   
}

.opinion p{
    padding: 20px;
}
#disqus_thread{
    padding: 20px;
}

#video{
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
}

.img_derecha{
    float: right;
    width: 50%;
    margin: 30px;
}


.img_izquierda{
    float: left;
    width: 50%;
    margin: 30px;
}

